.one-grid{            
    display: flex;
    &[host-section]{
        position: relative;        
        & > div {
            position: absolute;
        }
    }

    &>.header{
        overflow: hidden;
        & > div{
            height: 100%;
        }
    }
    &>.body{        
    }
    &>.footer{
        overflow: hidden;
        & > div{
            height: 100%;
        }
    }
}